WEB_USERNAME = training_portal_username
WEB_PASSWORD = training_portal_password
LOGIN_SITE = "https://portal.trenujemy.pl/login"
TRAINING_SITE = "https://portal.trenujemy.pl/training"
LOG_PATH = /path/for/log/file
JSON_PATH = path/for/json/with/training/plan/scraped/from/training/portal
DB_HOST = db_host_ip
DB_NAME = posgresql_db_name
DB_USER = posgresql_username
DB_PASSWORD = postgresql_user_password
DB_PORT = posgresql_db_port_number